@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
    color: #a9a9a9;
}

.auth-form {
    background-color: #fff;
    width: 500px;
    height: auto;
}